/* #cardimage{
   animation: move 1s ease-in-out alternate infinite;
   background-size: contain;
}
#cardimage:hover{
    animation-play-state: paused;
}

@keyframes move{
    0%{
        scale: 1;
    }
    100%{
        scale: 1.06;
    }
} */
#cardimage{
   animation: move 13s ease-in-out alternate infinite;
   background-size: 150%;
   background-position-y: center;
   transition: 0.3s ease-in-out;
}
#cardimage:hover{
    scale: 1.1;
}

@keyframes move{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}